@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  background-color: white;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
